include README.rst
include LICENSE
recursive-include src/regression/static *
recursive-include src/regression/templates *
include versioneer.py
include src/regression/_version.py
include src/regression/config.cfg
