html {
    background-color: rgb(53, 54, 58);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(232, 234, 237);
    letter-spacing: 1px;
    line-height: 1.5;
}

a {
    color: rgb(232, 234, 237);
}
