<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regression {{ version }}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form method="post" action="/process">
        {% for file in files.items() %}
            <p><button name="file" value="{{ file }}">{{ loop.index }} »</button>
            {{ file[0]|safe }}</p>
        {% endfor %}
    </form>
    <form method="post" enctype="multipart/form-data">
        <p><input type="file" name="file" onchange="this.form.submit();"></p>
    </form>
    <a href="https://makr3la.github.io/regression/">📕 Documentation »</a>
</body>
</html>
